/* 设计图为1280px 所以修改容器宽度 */

@media screen and (max-width:768px) {
    div {
        background-color: pink;
    }
}

@media screen and (min-width:769px) {
    div {
        background-color: blue;
    }
}

@media screen and (min-width:993px) {
    div {
        background-color: purple;
    }
}

@media screen and (min-width:1200px) {
    div {
        background-color: red;
    }
}

ul {
    list-style: none;
}

h1, ul, p, a, li {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: #333;
}

a:hover {
    text-decoration: none;
}

header {
    padding-left: 0 !important;
}

header .logo {
    background-color: #429ad9;
    ;
}

header .logo img {
    width: 100%;
}

.nav {
    background-color: #ccc;
    border-bottom: 1px solid #000;
}

.nav li a {
    display: inline-block;
    width: 100%;
    height: 100%;
    height: 50px;
    line-height: 50px;
    padding-left: 20px;
}

.nav li a::before {
    margin-right: 5px;
    vertical-align: middle;
}

.nav li a:hover {
    background-color: #fff;
    color: #000;
}

.news ul li {
    height: 128px;
    float: left;
    width: 25%;
    padding-right: 10px;
    margin-bottom: 10px;
}

.news ul li a {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
}

.news li a img {
    width: 100%;
    height: 100%;
}

.news ul li p {
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, .6);
    width: 100%;
    font-size: 12px;
    color: #fff;
}

.news ul li:first-child {
    height: 266px;
    width: 50%;
}

.news ul li:first-child p {
    height: 41px;
    line-height: 41px;
    font-size: 20px;
    padding: 0 10px;
}